
.top{
  margin: 10px auto;
  width: 300px;
  height: 50px;
  border:1px solid black;
}
.content{
  margin: 0px auto;
  width: 300px;
  min-height: 200px;
  border:1px solid black;
}
.items-list{
  margin: 10px auto;

}